<h1>Done</h1>
<ul>
    <li>Bootstrap (Layout Responsivo)</li>
    <li>Usuário</li>
    <li>Login para Usuários</li>
</ul>
<br>
<hr>
<br>
<h1>Undone</h1>
<ul>
    <li>Categorias</li>
    <li>Interesses</li>
    <li>Tutoriais</li>
    <li>Documentos</li>
    <li>Likes</li>
</ul>

<pre>
    <%#= Interest.where(user_id: current_user.id).inspect %>
</pre>