<h1>Done</h1>
<ul>
    <li>Bootstrap (Layout Responsivo)</li>
    <li>Usuário</li>
    <li>Login para Usuários</li>
    <li>Categorias</li>
    <li>Interesses</li>
    <li>Tutoriais</li>
    <li>Documentos</li>
</ul>
<br>
<hr>
<br>
<h1>Undone</h1>
<ul>
    <li>Students following Tutorials</li>
    <li>Students names being shown in Tutorial page</li>
    <li>Likes</li>
    <li>Tutorials Listed By Preference in User Categories</li>
    <li>Search for tutorials with keyword in title</li>
    <li>Chat</li>
</ul>

<pre>
    <%#= Categorization.where(user_id: current_user.id).inspect %>
</pre>