<div style="text-align: center">
	<h1>Try this random tutorial just for fun! Go ahead!</h1>

	<a href="<%= tutorial_path(@tutorial) %>" class="no-decoration">
		<div style="background-color: whitesmoke;padding: 40px; margin: 25px; border-radius: 30px; min-height: 400px;">
			<h3><%= @tutorial.title %></h3>

			<h5><%= @tutorial.description %></h5>
		</div>
	</a>
</div>