
<div style="margin: 0 auto; width: 50%; ">
	<div style="text-align: center;">
		<h1>Editing Step</h1>
			<%= render 'form' %>
	</div>
</div>

<%#= link_to 'Show', @step %>
<%#= link_to 'Back', steps_path %>
