<div class="" style="margin: 20px 0">
  <%= link_to 'All', tutorials_path, class: "btn btn-default", style: "width: 49.5%" %>
  <%= link_to 'My', my_tutorials_path, class: "btn btn-default", style: "width: 49.5%" %>
</div>

<h1>New Tutorial</h1>

<%= render 'form' %>

<%= link_to 'Back', tutorials_path %>
