<div style="text-align: center;">
	<%= render "tutorials/show/like_and_follow" %>
</div>
<hr>

<div class="col-sm-12 col-md-12">

  <%= render "tutorials/show/right_bar"%>

  <%= render "tutorials/show/left_bar"%>

</div>
<hr>
<div style="text-align: center;">
	<%= render "tutorials/show/like_and_follow" %>
</div>
<hr>

